@media only screen and (min-width: 760px) {

.navigation li:first-child { 
    display: none;
}

.navigation li {
    display: block;
    flex: 1 1 auto;
    
    
}

.fiveday, table{
    display: inline-block;
    border-collapse: collapse;
}
td {
    padding: 10px;
}    

.article {
    max-width: 100%;
}    
/* gallery*/
.gallery {
    grid-template-columns: 1fr 1fr 1fr;
}
.galleryimage:hover {
    box-shadow: 0 0 50px #888;
   
}
label.side {
    padding: .25rem;
    font-size: .75rem;
  }
/*town data styling*/
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
  }

section article {
    box-sizing: border-box;
    padding: .75rem;
         
}
}