@media only screen and (min-width:736px){


.wrapper {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: 1fr;
    
    background-color: #fff;
    color: #444;
  }
  header{
      grid-column: 1/11;
  }
  h1{
    font-size: 4rem;
  }
  nav {
    grid-row: 9/11;  
    grid-column: 1/11;
  }
  .navigation li:first-child { 
    display: none;
}

.navigation li {
    display: block;
    flex: 1 1 auto;
    
    
}
main{
    grid-column: 2/10;
    grid-row: 3/9;
    display: grid;
    grid-template-areas: "featureimg featureimg featureimg article article article sidebar sidebar"
                          "featureimg featureimg featureimg article article article sidebar sidebar"
                          "featureimg featureimg featureimg article article article sidebar sidebar"
                          ". . . . . . sidebar sidebar"
                          "temple1 temple1 temple2 temple2 temple3 temple3 temple4 temple4"
                          "temple1 temple1 temple2 temple2 temple3 temple3 temple4 temple4";
}
aside.bogota {
    grid-column: 1/6;
  
  }  
  
  footer {
    grid-column: 1/11;
  }

  #featurepic {
    max-width: 600px;
  }
  .box img {
    max-width: 180px;
  }
  main.bogota{
    grid-template-columns: 10% 1fr 10%;
    display: grid;
   justify-content: center;
  } 

  
}
