@media only screen and (min-width:540px){

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10%  1fr 30% 10%;
    grid-template-rows: 6rem 1fr 3rem;
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                        ". content sidebar ."
                        ". content sidebar . "
                         "footer footer footer footer"; 
    background-color: #fff;
    color: #444;
  }

  main{
      grid-template-areas: "featureimg featureimg article article"
                            "temple1 temple1 temple2 temple2"
                            "temple3 temple3 temple4 temple4"
  }

  .featureimg {
  grid-area: featureimg;
  
}
.article{
  grid-area: article;  
}
.temple1{
    grid-area: temple1;
  /*grid-column: 1/span 2;
  grid-row: 2/span 1;*/
}
.temple2{
    grid-area: temple2;
  /*grid-column: 1/span 2;
  grid-row: 2/span 1;*/
}
.temple3{
    grid-area: temple3;
  /*grid-column: 1/span 2;
  grid-row: 2/span 1;*/
}
.temple4{
    grid-area: temple4;
  /*grid-column: 1/span 2;
  grid-row: 2/span 1;*/
}
}