@media only screen and (min-width: 64em) {

.navigation li:first-child { 
    display: none;
}

.navigation li {
    display: inline-block;
    
}


.fiveday, table{
    display: inline-block;
    border-collapse: collapse;
}
td {
    padding: 10px;
}    

.article {
    max-width: 100%;
    }    
}
