@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
* {
  padding: 0;
margin: 0;
 
}
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 960px;
    margin: auto; 
     
  }
  main {
    max-width: 100%;
    height: auto;
  }  
  h1,h2,h3,h4,h5,h6 {
    color: #546031;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -10px;
  }
header {
    background-color: #546031;
    margin: 10px auto;
    font-size: 1.2em;
    border: 1px solid  #D5AC6C;
    box-shadow: 0 0 30px #888; 
    text-align: center;
    padding: 20px;
}    
     
header h1, header h2{
    color: #ffffff;
}
  #logo {
    position: relative;
    float: left;
    vertical-align: middle;
    background-color: #ffffff;
    border: solid 3px #D5AC6C;
    box-shadow: 0 0 20px #666;
    margin: 20px;
  }
  #weather {
    float: right;
    vertical-align: middle;
    background-color: #ffffff;
    border: solid 3px #D5AC6C;
    box-shadow: 0 0 20px #888;
    margin: 20px;
  }
  #motto{
      font-style: italic;
      color: #ffffff
  }
 nav {
  background-color: #F2E6C4;
  font-size: 1.2em;
  line-height: 4;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  padding: 0px;
  
 }
nav li:first-child { 
  display: block;
}

nav a {
  display: block;  
  color: #546031;
  text-decoration: none;
  
}
nav a:hover {
  color: rgb(288,288,288);
  background-color: #546031;
}
nav li {
  display: none;
}

.current {
    text-decoration: underline  
}

main {
  max-width: 100%; margin: 0 auto;
}
.town-name {
  text-align: center;
  text-shadow: 0 0 20px #888;
  padding: 10px;
  margin: 10px 10px auto;
}
.hero {
  display: inline-block;
  margin: 1rem auto; position: relative;
  max-width: 100%;
}

.summary {
	position: absolute;
	top: 25px;
	left: 50px;
	background: radial-gradient(#eee, #F2E6C4);
  color: #546031;
  border: 1px solid #D5AC6C;
	padding: 1.5rem;
	box-shadow: 0 0 30px #fff;
}
.summary h3 {
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 10px;
} 
.label{
  text-align: right;
}
.value {
  margin-left: 5px;
  text-align: left;
  color: #D5AC6C;
}
.fiveday {
  display: none;
  text-shadow: 0 0 20px #888;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  
}  
.fiveday th, td {
  border: 2px solid #546031;

}
.article {
  display: inline-block;
  background-color: #F2E6C4;
  border: solid 2px #D5AC6C;
  max-width: 100%;
  padding: 1.5rem;
  margin: 1rem auto; 
}
#academypic {
  float: right;
  vertical-align: bottom;
  border: solid 2px #D5AC6C;
  box-shadow: 0 0 20px #888;
  margin: .5rem;
}
pre {
  color: #D5AC6C;
  font-style: italic;
}
footer {
  display: block; 
  background-color: #546031;
  color: #ffffff;
  margin: 10px auto;
  font-size: .75rem;
  border: 1px solid  #D5AC6C;
  box-shadow: 0 0 30px #888; 
  text-align: center;
    
}
h5 {
  color: #ffffff;
  font-weight: lighter;  
}
#map {
  float: right;
  border: solid 2px #D5AC6C;
  box-shadow: 0 0 30px #888;
  margin-right: 2rem;
}
footer .contact {
  text-align: left;
  margin-left: 2rem;
}
footer .info {
  background-color: #F2E6C4;
  color: #546031;
  font-size: .75rem;
  text-align: center;
  padding: 10px;
}
