@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    margin: auto;
     
  }
  main {
    max-width: 80%;
    height: auto;
  }  
  h1,h2,h3,h4,h5,h6 {
    color: #546031;
    font-family: 'Roboto', sans-serif;
    
  }
header {
    display: flex;
    background-color: #546031;
    margin: 10px auto 0px;
    font-size: 1.2em;
    border: 1px solid  #D5AC6C;
    box-shadow: 0 0 30px #888; 
    justify-content: center;
    padding: 20px;
}    
     
header h1, header h2{
    color: #ffffff;
}
  #logo {
    background-color: #ffffff;
    border: solid 3px #D5AC6C;
    box-shadow: 0 0 20px #666;
    margin: 20px;
  }
  #weather {
    background-color: #ffffff;
    border: solid 3px #D5AC6C;
    box-shadow: 0 0 20px #888;
    margin: 20px;
  }
  #motto{
      font-style: italic;
      color: #ffffff;
  }
 nav {
  background-color: #F2E6C4;
  padding: 0px;
 }

.navigation {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.navigation li:first-child { 
  display: block;
}
.navigation li a { 
  display: block; 
  text-align: center;
  color: #546031;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 1rem;
  
  
}
.navigation a:hover {
  color: #ffffff;
  background-color: #546031;
}
.navigation li {display: none;}

.responsive li {display: block;}

.navigation .current {text-decoration: underline;}

main {
  max-width: 100%; margin: 0 auto;
  
}
.page-name {
  text-align: center;
  padding: 40px 0px 20px;
}
.hero {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.summary {
	position: absolute;
	top: 25px;
	left: 50px;
	background-color: #546031;
  color: #D5AC6C;
	opacity:.85;
  border: 1px solid #D5AC6C;
	padding: 1.5rem;
	box-shadow: 0 0 30px #fff;
}
.summary h3 {
  color: #D5AC6C;
  text-decoration: underline;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
} 
.currentdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .25rem;
}
.currentdetails .label{
  text-align: right;
}
.currentdetails .value {
  color: #ffffff;
  margin-left: 5px;
}
.fiveday {
  display: none;
  text-shadow: 0 0 20px #888;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  
}  
.fiveday th, td {
  border: 2px solid #546031;

}
.article {
  display: inline-block;
  background-color: #F2E6C4;
  border: solid 2px #D5AC6C;
  max-width: 100%;
  padding: 1.5rem;
  margin: 1rem auto; 
}
#academypic {
  float: right;
  vertical-align: bottom;
  border: solid 2px #D5AC6C;
  box-shadow: 0 0 20px #888;
  margin: .5rem;
}
pre {
  color: #D5AC6C;
  font-style: italic;
}
footer {
  display: block;
  max-width: 80%; 
  background-color: #546031;
  color: #ffffff;
  margin: 10px auto;
  font-size: .75rem;
  border: 1px solid  #D5AC6C;
  box-shadow: 0 0 30px #888; 
  text-align: center;
    
}
h4 {
  color: #ffffff;
}
#map {
  float: right;
  border: solid 2px #D5AC6C;
  box-shadow: 0 0 30px #888;
  margin-right: 2rem;
}
footer .contact {
  text-align: left;
  margin-left: 2rem;
  padding: 1rem;
  
}
footer .info {
  background-color: #F2E6C4;
  color: #546031;
  font-size: .75rem;
  text-align: center;
  padding: 10px;
}
.gallery {
  display: grid;
  grid-gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: 100% ;
}
.gallery img {
  width: 100%;
}
figcaption {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  padding: .5rem;
}
/* Storm Center CSS */
#stormSub {
  text-align: center;
  text-emphasis: #546031;
  margin-top: -20px;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  margin: 0 auto 20px;
  flex-direction: column;
  max-width: 25rem;
  justify-content: center;
  background-color: #F2E6C4;
  color: #546031;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px  #bbb;

}
fieldset {
  border: none;
  margin: 1rem 2rem 1rem;
  padding: .5rem ;

}
legend {
  font-size: 1.25rem;
  text-align: left;
  
  
}
label.above, .formdiv {
  display: block;
  padding-top: 1rem;
  font-size: .8rem;
}
label.above input, label.above select, textarea {
  display: block;
  margin-top: .25rem;
  padding: .75rem;
  font-size: 1rem;
  border: 1px solid #888;
  border-radius: 4px;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}
label.side {
  display: block;
  padding: .5rem;
  font-size: 1rem;
}
.formContainer .button {
  border: none;
  background-color: #546031;
  color: white;
  border-radius: 1rem;
  padding: .5rem 1.25rem;
  margin:0 0 2rem 2rem;
  width: 98%;
  max-width: 20rem;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}
.thankyou {
  display: flex;
  margin: 3rem auto 3rem auto; 
  flex-direction: column;
  max-width: 25rem;
  padding: 1rem;  
  background-color: #F2E6C4;
  color: #546031;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px  #bbb;
}
.thankyou h2 {
  padding-top: 0;
}